@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gorditas:wght@400;700&family=Indie+Flower&display=swap");
body {
  font-family: Indie Flower;
  background-color: #e9f4f6;
}
.btn-carrito{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
}
.badge{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
}
.buscador{
  width: 30%;
  margin-left: auto;
}

header .blue-bg {
  background-color: rgb(111, 169, 228);
}
header .navbar-brand {
  font-size: 25px;
  font-weight: bold;
}
header .navbar-nav .nav-item .nav-link {
  padding: 8px 15px;
}
header .fuente-nav {
  font-family: Gorditas;
}
@media (min-width: 992px) {
  header .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
  }
  header .navbar-toggler {
    display: none;
  }
}

.titulo-principal {
  text-align: center;
  font-family: Gorditas;
  font-size: 500%;
  margin: 30px;
  margin-bottom: 70px;
}
@media (max-width: 600px) {
  .titulo-principal {
    font-size: 250%;
  }
}
@media (max-width: 600px) {
  .titulo-principal {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  .titulo-principal {
    margin-bottom: 50px;
  }
}

.novedades {
  text-align: center;
}
.novedades h2 {
  margin: 10px;
  margin-bottom: 12px;
}
.novedades p {
  text-align: left;
  font-family: Indie Flower;
  margin: 6px 0px 30px 10px;
  font-size: 16px;
}

.productos-p, .productos-desc {
  text-align: left;
  font-family: Indie Flower;
  margin: 6px 0px 30px 10px;
  font-size: 16px;
}

.ref-prom-prod {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.img-novedad {
  margin-bottom: 12px;
}
.img-novedad img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}
.img-novedad img:hover {
  transform: scale(1.05);
}

.mapa {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 601px) {
  .mapa {
    width: 70%;
    margin: 10px auto;
  }
}

.logoig {
  width: 70px;
  height: auto;
  transition: transform 0.3s;
  padding: 2px;
  margin: 2px;
}
.logoig:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  background-color: rgb(111, 169, 228);
  color: #ffffff;
  padding: 10px 0;
}

.titulos {
  font-size: 200%;
  margin: 10px 0px 50px 10px;
}

.producto-grilla {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.producto {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 0 auto;
}
.producto img {
  width: 100%;
  height: auto;
}
.producto p {
  margin-top: 0.5rem;
  text-align: center;
  color: black;
}
.producto button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.producto button:hover {
  background-color: #0056b3;
}
.producto:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .producto {
    width: 100%;
    height: auto;
  }
  .producto p {
    margin-top: 0.5rem;
    text-align: center;
  }
}
.seguinos-pro {
  margin: 20px 0px 5px 10px;
}

.vermas {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 15px;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #007bff;
}

.ig-text {
  margin-left: 15px;
  display: inline-block;
  text-decoration: none;
  font-family: Gorditas;
  color: black;
}

.form-text {
  margin: 10px;
  font-size: large;
}

.formulario-contacto {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(98, 182, 206);
}

.form-grupo {
  margin-bottom: 20px;
}
.form-grupo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-grupo input[type=text], .form-grupo input[type=email], .form-grupo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-grupo textarea {
  height: 120px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #0056b3;
}

.container-nosotros {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nosotros {
  margin-top: 20px;
  padding: 20px;
  font-family: Indie Flower;
  font-size: large;
}

.img-nos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.img-nos img {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .img-nos {
    flex-direction: column;
  }
  .img-nos img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 20px auto;
}
.promociones .promocion {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
}
.promociones .promocion img {
  width: 100%;
}
.promociones .promocion p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}
.promociones .promocion-text {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .promociones {
    flex-direction: column;
  }
  .promociones .promocion {
    width: calc(100% - 20px);
  }
}

/*# sourceMappingURL=styles.css.map */
