body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #007bff;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  margin-right: 15px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffc107;
}
.titulos {
  text-align: center;
  margin: 20px 0;
}

.productos-desc {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;  
  width: 30%;
  justify-content: right;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .container {
    justify-content: center; 
    width: 100%;
  }

  #buscador {
    width: 100%; 
  }
}

.producto-grilla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 15px;
  text-align: center;
  width: calc(30% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; 
  box-sizing: border-box;
}

.producto img {
  max-width: 100%;
  height: auto; 
  max-height: 200px; 
  object-fit: contain; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.producto p {
  margin: 5px 0;
  overflow: hidden;
}

.producto .precios {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.producto button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  align-self: center;
  margin-top: auto;
}

.producto button:hover {
  background-color: #0056b3;
}

.btn-carrito {
  background-color: #ffc107;
  border: none;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  position: fixed;
  right: 20px;
  width: 60px;
  z-index: 1000;
}

.btn-carrito .badge {
  background-color: #dc3545;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}


footer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}


.seguinos-pro {
  text-align: center;
  margin: 20px 0;
}

.logoig {
  display: block;
  margin-bottom: 10px;
  margin: 10px auto;
  max-width: 100px;
  height: auto;
}
.ig-text{
  text-decoration: none;
  color: inherit;

}
.ig-text:hover{
    color: #000;
    cursor: pointer; 

}
/* Responsive styles */
@media (max-width: 768px) {
  .producto {
    width: calc(45% - 30px); 
    height: 350px;
  }
}

@media (max-width: 576px) {
  .producto {
    width: calc(100% - 30px);
    height: auto;
  }

  .btn-carrito {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
}
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.btn-scroll-top:hover {
  background-color: #0056b3;
}
